<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div id="search">
        <div class="_searchBar">
            <input type="text" name="_searchText" ng-model="searchText" placeholder="Search for GIFs here"/>
            <button ng-click="search()">Search</button>
        </div>
        <div id="_searchResults" ng-repeat="data in results">
            <img src="{{ data.images.fixed_height.url }}" />
        </div>
    </div>

</body>
</html>