*{ border:0; margin:0; padding:0; outline:0; }

.notSelectable{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

body{
   font-family: 'Open Sans', sans-serif;
   /*font-family: 'Helvetica Neue', sans-serif;*/
   font-weight: 300;
   color: #000000;
   background-color: #ffffff;
   overflow-x: hidden;
}

#giphy{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 0 250px 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#giphy.searching{ }